<div class="min-h-screen flex items-center justify-center bg-gray-100 p-6">
  <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
    <h2 class="text-2xl font-bold mb-6 text-center">Registro</h2>

    <form (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="name"
          >Nombre</label
        >
        <input
          type="text"
          id="name"
          [(ngModel)]="name"
          name="name"
          required
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        />
        <p *ngIf="nameError" class="text-red-500 text-xs italic mt-2">
          El nombre es obligatorio.
        </p>
      </div>

      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="email"
          >Correo Electrónico</label
        >
        <input
          type="email"
          id="email"
          [(ngModel)]="email"
          name="email"
          required
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        />
        <p *ngIf="emailError" class="text-red-500 text-xs italic mt-2">
          El correo electrónico es obligatorio.
        </p>
      </div>

      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password"
          >Contraseña</label
        >
        <input
          type="password"
          id="password"
          [(ngModel)]="password"
          name="password"
          required
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        />
        <p *ngIf="passwordError" class="text-red-500 text-xs italic mt-2">
          La contraseña es obligatoria.
        </p>
      </div>

      <div class="mb-4">
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="confirmPassword"
          >Confirmar Contraseña</label
        >
        <input
          type="password"
          id="confirmPassword"
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          required
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        />
        <p
          *ngIf="confirmPasswordError"
          class="text-red-500 text-xs italic mt-2"
        >
          Las contraseñas no coinciden.
        </p>
      </div>

      <p *ngIf="apiError" class="text-red-500 text-xs italic my-2">
        Error en la solicitud - Intenta nuevamente
      </p>

      <div class="flex items-center justify-between">
        <button
          type="submit"
          class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        >
          Registrarse
        </button>
        <button
          type="button"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          (click)="navigateToLogin()"
        >
          Iniciar sesión
        </button>
      </div>
    </form>
  </div>
</div>
